

.logo {

    color: black;

  
}
.main-header__contactInfo__phone{
    
    color: black;
    
}
.main-header__contactInfo__address{
    color: black;
}
.icon-menu{ 
    
    color: black;
    border: 1px solid black;
   
}
.menu__link{

    color: black;
  
}